@import helper._
@import data._

@(reportForm: Form[ShortFormatPreSentenceReportData], checkboxField: String, textAreaField: String, label: String, detailsLabel: String, error: Option[String] = None)

@implicitField = @{ FieldConstructor(govukElements.f) }

@sectionId = @{checkboxField + "-details"}
@arguments = @{ scala.Predef.Map('_label -> label, Symbol("data-target") -> sectionId) }
@allArguments = @{ error match {
    case Some(text) => arguments + ('_error -> text)
    case _ => arguments
} }

@checkbox(reportForm(checkboxField), allArguments.toSeq: _*)
<div class="panel panel-border-narrow js-hidden" id="@sectionId">
@textarea(reportForm(textAreaField), '_label -> detailsLabel, 'class -> "wide")
</div>
