@import "colours";

.govuk-warning-text {
  &.moj-warning-text {
    @include govuk-responsive-padding(4);
    background: $moj-light-blue;

    .govuk-warning-text__icon {
      left: 20px;
    }
  }

  .moj-warning-text__icon--interrupt {
    color: govuk-colour("blue");
    background: govuk-colour("white");
  }

  .moj-warning-text__text--interrupt {
    color: govuk-colour("white");
  }
}