$offender-image-width: 120px;
$offender-image-height: 150px;

a.white {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

a.clickable {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.risk-icon.risk-green {
  background: #006435;
}

.risk-icon.risk-amber {
  background: #ffbf47;
}

.risk-icon.risk-red {
  background: #b10e1e;
}

.mark {
  background-color: #fff2d3;
}

.offenderDetailsRow {
  margin-bottom: 10px;
}

.offender-summary {
  clear: none;
  padding-top: 0;
  min-height: $offender-image-height;
  margin-bottom: 0;
  padding-bottom: 0;
}

.offenderImageContainer {
  max-width: $offender-image-width + 10px;
  padding-left: 0;
  display: none;
}

.offenderImage {
  width: $offender-image-width;
  height: $offender-image-height;
}

.offender-summary-title {

}

textarea.form-control {
  border: 2px solid #0b0c0c;
}

#content {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.key-content {
  &.search {
    padding: 20px 0;
    min-height: 155px;
  }
  .padded {
    padding-top: 20px;
  }
}

.govuk-box-highlight {
  margin-top: 0;
  margin-bottom: 0;
  &.blue {
    background: #005ea5;
    text-align: left;
    padding: 0;
  }
}

.national-search-help {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  padding: 15px 20px 20px 20px;
}

.national-search-add {
  position: absolute;
  top: 35px;
  right: 0;
}

.phase-banner-boxed {
  border-bottom: none;
}

.search-results-title {
  color: grey;
  font-weight: normal;
}

div.filter {
  background-color: grey;
  margin-bottom: 10px;

  button {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 8px;
    background: url(../images/accordion-arrow.png) no-repeat right 5px;
    background-color: grey;
  }

  button.closed {
    background-position: right -5px;
  }
  button.open {
    background-position: right -50px;
  }
  .filter-container {
    border: grey 5px solid;
    background-color: white;
    max-height: 20vh;

    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    label {
      display: block;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px grey solid;
    }

    label:hover {
      background-color: grey;
    }

    .filter-option {
      float: left;
      width: 20px;
      height: 20px;
      margin-left: -10px;
    }

  }

  .filter-container.closed {
    display: none;
  }

}
.back-link {
  position: relative;
  padding-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent blue transparent transparent;
  }
}